<!DOCTYPE html>
<html>
  <head>
    <title>Search Phrase</title>
    <style>
      .error {
        color: red;
      }
      .search-form {
        padding-top: 1em;
        /*padding-left: 1em;*/
        /*padding-right: 1em;*/
        padding-bottom: 2em;
      }
      .search-form table {
        white-space: nowrap;
        border: 0;
        padding: 0;
        margin: 0;
        border-spacing: 0;
        vertical-align: middle;
      }
      .search-form .input-col {
        padding-left: 0.4em;
        padding-right: 0.2em;
      }
      .search-form input[type=text] {
        width: 100%;
        box-sizing: border-box;         /* Opera/IE 8+ */
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      }
    </style>
  </head>
  <body>
    
    <form action="index.html" method="get" class="search-form">
      <table>
        <tr> <td>Sloch:</td> <td class="input-col" width="100%"><input id="slochInput" name="sloch" type="text" value="<%=Rack::Utils.escape_html(sloch)%>"/></td> <td><input type="submit" value="Search"/></td> </tr>
      </table>
    </form>
    
    <% if not sloch.empty? then %>

    Phrases found:
    <ul id="resultsList">
      <li id="loadingSymbol"><img src="loading.gif"/></li>
    </ul>
    <p/>
    <form id="captchaForm">
      To continue, please type the characters below:
      <p/>
      <img id="captchaImage" alt="Please enable images" border="1"/>
      <p/>
      <input id="captchaAnswer" type="text" size="12"/>
    </form>
    <p/>
    <a id="moreButton" href="#" class="hidden">More…</a>
    
    <script>
      
      var resultsPerPage = <%=@results_per_page%>;
      
      var slochInput = document.getElementById("slochInput");
      var resultsList = document.getElementById("resultsList");
      var loadingSymbol = document.getElementById("loadingSymbol");
      var moreButton = document.getElementById("moreButton");
      
      /**
       * Send request via XMLHttpRequest and process response.
       * 
       * okF: function(responseText).
       * errorF: function(statusCode, responseText, isNetworkingError).
       */
      function request(method, query, okF, errorF) {
        req = (function() {
          if (window.XMLHttpRequest) {
              try {
                  return new XMLHttpRequest();
              } catch (e){}
          } else if (window.ActiveXObject) {
              try {
                  return new ActiveXObject('Msxml2.XMLHTTP');
              } catch (e){
                  try {
                      return new ActiveXObject('Microsoft.XMLHTTP');
                  } catch (e){}
              }
          }
          throw "Please update your browser";
        })();
        req.open(method, query, true);
        req.onreadystatechange = function() {
          try {
            if (req.readyState == 4) {
              if (req.status == 200) {
                okF(req.responseText);
              } else {
                errorF(req.status, req.response, req.status == 0);
              }
            }
          }
          catch( e ) {
            // Workaround for Bugzilla Bug 238559 XMLHttpRequest needs a way to report networking errors
            // https://bugzilla.mozilla.org/show_bug.cgi?id=238559
            errorF(0, "", true);
          }
        };
        req.send(null);
      }
      
      function show(node) {
        node.style.display = "";
      }
      
      function hide(node) {
        node.style.display = "none";
      }
      
      function addNodeToResultsList(li) {
        resultsList.insertBefore(li, loadingSymbol);
      }
      
      function addTextItemToResultsList(text) {
        var li = document.createElement("li");
        var text = document.createTextNode(text);
        li.appendChild(text);
        addNodeToResultsList(li);
      }
      
      function addHTMLItemToResultsList(html) {
        var li = document.createElement("li");
        li.innerHTML = html;
        addNodeToResultsList(li);
      }
      
      function sloch() {
        return slochInput.value;
      }
      
      var currentIndex = 0;
      
      function more() {
        // Utils.
        function hasNoMorePhrases(responseText) {
          return responseText == "";
        }
        // Implementation.
        hide(moreButton);
        show(loadingSymbol);
        var stopIndex = currentIndex + resultsPerPage;
        function loop() {
          request(
            "GET",
            "phrase?sloch=" + encodeURIComponent(sloch()) + "&offset=" + currentIndex.toString(),
            /* okF = */ function(responseText) {
              if (hasNoMorePhrases(responseText)) {
                hide(loadingSymbol);
                if (currentIndex == 0) {
                  addTextItemToResultsList("(none)");
                }
              }
              else {
                var phrase = responseText;
                addTextItemToResultsList(phrase);
                currentIndex++;
                if (currentIndex == stopIndex) {
                  hide(loadingSymbol);
                  show(moreButton);
                }
                else {
                  loop();
                }
              }
            },
            /* errorF = */ function(statusCode, responseText, isNetworkingError) {
              hide(loadingSymbol);
              if (isNetworkingError) {
                addHTMLItemToResultsList('<span class="error">Networking error</span>');
              }
              else {
                addHTMLItemToResultsList('<span class="error">Error: ' + statusCode.toString() + '—' + responseText + '</span>');
              }
            }
          );
        }
        loop();
      }
      
      moreButton.onclick = function(event) {
        more();
        event.preventDefault();
      }
      
      more();
      
    </script>

    <% else %>
    
    <div class="credits">
      <center><small><a href="https://github.com/LavirtheWhiolet/search-phrase">Source code</a> | <a href="mailto:Lavir.th.Whiolet@gmail.com">Contact me</a></small></center>
    </div>
    
    <% end %>
    
  </body>
</html>
